.DS_Store/

data/data_raw/nih/
data/data_raw/nsf/
data/data_raw/nih_project_population.csv
data/data_raw/nsf_project_population.csv

data/project_population_at_risk.parquet
data/topics.parquet
data/data_enriched.parquet

data/for_enrichment/openalex-topic-mapping.csv
data/for_enrichment/PinyinGender.txt
data/for_enrichment/v2.2-2026-01-29-ror-data.csv
data/for_enrichment/IPEDS_inst_charact_hd2024.csv